# Information helping to describe the node
[node]
  location = ""
  document = ""

# Login and password used for the basic authentication on the configurations page
[authentication]
  login = ""
  password = ""

# Network information for the network the node is connected to
[network]
  password = ""
  ssid = ""

[server]
  context-server = ""
